doctype html
html
	head
		meta(charset="UTF-8")
		title zgw-menu
		link(href="/base/styles/compass-blueprint.css", rel="stylesheet")
		link(href="styles/style.css", rel="stylesheet")
		style(type="text/css")
			|.container{margin:60px auto;width: 1000px}
	body
		div.container
			include component.jade