div.news-tabblock-zgw
	ul.news-tabblock-zgw__tabheader
		li.news-tabblock-zgw__tabheader__item-active
			a(href="#",target="_blank") 标题一
		li.news-tabblock-zgw__tabheader__item
			a(href="#",target="_blank") 标题二
		li.news-tabblock-zgw__tabheader__item
			a(href="#",target="_blank") 标题三
	div.news-tabblock-zgw__tabbody
		ul.news-tabblock-zgw__tabbody__list
			- var news_titles = ['国家主席习近平任免驻外大使-1','空军空余房地产租赁管理政策重大调整','南海，中国不怕兴风作浪','常万全会见智利空军司令','马晓天会见智利空军司令']
			- for(var i=0;i<news_titles.length;i++)
				li.news-tabblock-zgw__tabbody__list__item
					a(href="#",target="_blank") #{news_titles[i]}
		ul.news-tabblock-zgw__tabbody__list
			- var news_titles = ['国家主席习近平任免驻外大使-2','空军空余房地产租赁管理政策重大调整','南海，中国不怕兴风作浪','常万全会见智利空军司令','马晓天会见智利空军司令']
			- for(var i=0;i<news_titles.length;i++)
				li.news-tabblock-zgw__tabbody__list__item
					a(href="#",target="_blank") #{news_titles[i]}
		ul.news-tabblock-zgw__tabbody__list
			- var news_titles = ['国家主席习近平任免驻外大使-3','空军空余房地产租赁管理政策重大调整','南海，中国不怕兴风作浪','常万全会见智利空军司令','马晓天会见智利空军司令']
			- for(var i=0;i<news_titles.length;i++)
				li.news-tabblock-zgw__tabbody__list__item
					a(href="#",target="_blank") #{news_titles[i]}