doctype html
html
	head
		meta(charset="UTF-8")
		title zgw-menu
		link(href="/base/styles/compass-blueprint.css", rel="stylesheet")
		link(href="styles/style.css", rel="stylesheet")
	body
		include component.jade
		div.container
			