div.zgw-tab-slider(jaqen-role="jaqenTabSlider")
	div.zgw-tab-slider__body
		div.zgw-tab-slider__body__block
			include ../../zgw-add-module.jade
		div.zgw-tab-slider__body__block
			include ../../zgw-add-module.jade
		div.zgw-tab-slider__body__block
			include ../../zgw-add-module.jade