@charset "UTF-8";
/* line 6, ../../../scss/style.scss */
.news-tabblock-zgw {
  height: 100%;
  width: 100%;
  margin: 0px;
  min-height: 300px;
  overflow: hidden;
}

/* line 10, ../../../scss/style.scss */
.news-tabblock-zgw__tabbody {
  height: 160px;
  overflow: hidden;
  clear: both;
  margin: 0;
  padding: 0;
  width: 3000px;
}

/* line 19, ../../../scss/style.scss */
.news-tabblock-zgw__tabbody__list {
  display: block;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  clear: both;
  padding-left: 6px;
  list-style: disc inside none !important;
  width: 900px;
  height: 100%;
  clear: none;
  float: left;
  margin: 0;
  padding-left: 10px;
}

/* line 29, ../../../scss/style.scss */
.news-tabblock-zgw__tabbody__list__item {
  line-height: 28px;
  height: 28px;
  overflow: hidden;
  font-size: 14px;
}
/* line 26, ../../../../_base/scss/zgw/mixin.scss */
.news-tabblock-zgw__tabbody__list__item a {
  color: #252525;
  text-decoration: none;
}

/* line 33, ../../../scss/style.scss */
.news-tabblock-zgw__tabheader {
  padding: 0px;
  width: 100%;
  height: 35px;
  position: relative;
  zoom: 1;
  list-style: none;
  line-height: 34px;
  border-bottom: 1px solid #ccc;
  clear: both;
  font-family: "微软雅黑", "黑体";
}

/* line 46, ../../../scss/style.scss */
.news-tabblock-zgw__tabheader__item, .news-tabblock-zgw__tabheader__item-active {
  width: 110px;
  float: left;
  height: 35px;
  font-size: 16px;
  text-align: center;
  position: relative;
}
/* line 53, ../../../scss/style.scss */
.news-tabblock-zgw__tabheader__item a, .news-tabblock-zgw__tabheader__item-active a {
  text-decoration: none;
}

/* line 58, ../../../scss/style.scss */
.news-tabblock-zgw__tabheader__item-active {
  border: 1px solid #ddd;
  border-top: 2px solid #326433;
  border-bottom: none;
  background: #FFF;
  height: 34px;
  _top: 1px;
  font-weight: bold;
  font-size: 18px;
}
/* line 68, ../../../scss/style.scss */
.news-tabblock-zgw__tabheader__item-active a {
  text-decoration: none;
}
