ul.menu
	li.menu__item
		a.menu__item__link(href="#") 测试链接
	li.menu__item
		a.menu__item__link(href="#") 测试链接
	li.menu__item
		a.menu__item__link(href="#") 测试链接
	li.menu__item
		a.menu__item__link(href="#") 测试链接
	li.menu__item
		a.menu__item__link(href="#") 测试链接