@import "variables.scss";
@import "color.scss";
@import "font.scss";

.zgw-tab-menu{
	padding: 0px;
	width: 100%;
	height: $header_height;
	position: relative;
	zoom: 1;
	list-style: none;
	line-height: $header_height - 1;
	border-bottom: $header_border_bottom_size solid $header_border_bottom_color;
	clear: both;
	font-family: $header_fontfamily;
}

.zgw-tab-menu__item{
	width: $header_item_width;
	float: left;
	height: $header_item_height;
	font-size: $header_item_fontsize;
	text-align: center;
	position: relative;
	a{
		text-decoration: none;
	}
}

.zgw-tab-menu__item-active{
	@extend .zgw-tab-menu__item;
	border: 1px solid #ddd;
	border-top: 2px solid #326433;
	border-bottom: none;
	background: #FFF;
	height: 34px;
	_top: 1px;
	font-weight: bold;
	font-size: 18px;
	a {
		text-decoration: none;
	}
}
