
$top_border_size: 3px;
$top_border_style: solid;

$padding_v: 5px;
$padding_h: 5px;

$row_line_height: 28px;
$row_line_margin: 3px 10px;

$font_size: 12px;
$title_width: 90px;
$row_links_width: 700px;
$link_margin_right: 14px;

$line_height: 28px;
